# int8
bitsandbytes
accelerate

# chatglm
protobuf>=3.19.5,<3.20.1
transformers
icetk
cpm_kernels==1.0.11
torch
tensorboard

# 
datasets
git+https://github.com/huggingface/peft.git  # 最新版本 >=0.3.0.dev0
